server {
    listen 80;
    server_name localhost;
    root /usr/share/nginx/html;
    location / {
        # Required to be crossOriginIsolated (for the SharedArrayBuffer)
        add_header Cross-Origin-Opener-Policy "same-origin";
        add_header Cross-Origin-Embedder-Policy "require-corp";
    }
}
